:root {
    --animate-duration: 0.1s;
}

body {
    padding: 0;
    margin: 0;
    background: #e0e5ec;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iphone {
    width: 312px;
    height: 612px;
    background: #e0e5ec;
    border-radius: 2em;
    box-sizing: border-box;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.iphone .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.75em;
    margin-bottom: 1.5em;
}

.iphone .album-cover {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.iphone .album-cover .album-overlay {
    background: #fff;
    width: 248px;
    height: 248px;
    z-index: 2;
    border-radius: 15px;
    position: absolute;
    opacity: 0.35;
    -webkit-clip-path: ellipse(61% 64% at 82% 56%);
    clip-path: ellipse(61% 64% at 82% 56%);
}

.iphone .album-cover img {
    width: 100%;
    border-radius: 15px;
}

.iphone .album-cover .song-title {
    text-align: center;
    font-size: 1.3em;
    height: 1.3em;
    width: 248px;
    padding-top: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #646668;
    overflow: hidden;
}

.song-title span {
    position: relative;
    white-space: nowrap;
}

.iphone .album-cover .artist-title {
    text-align: center;
    height: 1.1em;
    width: 248px;
    overflow: hidden;
    font-size: 1em;
    padding-top: 0.2em;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    font-size: 0.85em;
    color: #646668;
}

.artist-title span {
    position: relative;
    white-space: nowrap;
}

.iphone .track {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    height: 8px;
    display: flex;
    align-items: center;
}

.iphone .track .track-line {
    width: 0%;
    height: 100%;
    background: #7e8a98;
    opacity: 0.75;
    border-radius: 15px;
}

.iphone .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding: 0.1em 0; */
    padding-top: 1.5em;   
    padding-bottom: 0.1em;
}

.iphone .lyrics {
    color: #7e8a98;
    margin-top: 1em;
    text-align: center;
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
}

.neu {
    box-shadow: -5px -5px 15px 0px #ffffff9e, 5px 5px 15px 0px #a3b1c6a8;
    background: #e0e5ec;
    border-radius: 2em;
    border: 0;
}

.btn {
    padding: 15px;
    border-radius: 30px;
    color: #000000;
    outline: none;
    cursor: pointer;
}

.btn.lg {
    font-size: 1em;
}

.btn:active {
    cursor: pointer;
    box-shadow: inset -5px -5px 15px 0px #ffffff9e, inset 5px 5px 15px 0px #a3b1c6a8;
}

.red {
    color: #e22d49;
}

.time {
    width: 100%;
    overflow: auto;
    font-size: 0.8em;
    padding-top: 0.1em;
    padding-bottom: 0.5em;
}

#currentTime {
    float: left;
    width: auto;
}

#durationTime {
    float: right;
    width: auto;
}

a {
    text-decoration: none;
    color: rgb(115, 115, 115);
}

a:hover {
    text-decoration: underline;
}

/* .buffer-container {
    float: inline-end;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0.75;
    border-radius: 15px;
}

.buffer {
    width: 0%;
    height: 100%;
    background-size: 40px 40px;
    background-image: linear-gradient(
        -45deg, #cad6e3 25%, #cad6e3 0, #e0e5ec 50%, #cad6e3 0, #cad6e3 75%, #e0e5ec 0
    );
    -webkit-animation: back-animation 10s infinite linear;
}@-webkit-keyframes back-animation {
    from {
        background-position-x: 0px;
    } to {
        background-position-x: 600px;
    }
} */

