.music-list-page-container {
    display: none;
    flex-direction: row;
    grid-template-rows: 70% auto;
    height: 100%;
}

.music-list-container {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;   /* IE 10+ */
}

::-webkit-scrollbar {
    display: none;  /* Chrome Safari */
}

.music-list-bottom-btn {
    background-color: #e0e5ec;
    width: 100%;
    bottom: 0;
}

.music-list ul {
    list-style: none;
    padding-left: 10px;
}

.music-list ul {
    position: flex;
    align-items: center;
}

.music-list ul li {
    height: 100%
}

.music-list-item:hover {
    cursor: pointer;
}


.item-div {
    height: 35px;
    padding: 5px 0;
    overflow: hidden;
    /* TODO hover 滚动 */
    border-bottom: 1px solid rgb(134, 134, 134);
}

.item-num {
    float: left;
    height: 100%;
    line-height: 35px;
    font-size: 1.5em;
    width: 45px;
    margin-right: 10px;
}

.item-num span {
    float: right;
}

.item-detail {
    display: flex;
    width: auto;
    flex-direction: column;
    margin-left: 0;
}

.item-detail .music-name div {
    font-size: 1em;
    height: 20px;
    align-items: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-detail .music-artists div {
    font-size: 0.8em;
    height: 15px;
    align-items: flex-end;
    color: rgb(91, 90, 90);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* .item-detail .music-name i:hover { */
    /* animation: scrollText 5s linear infinite; */
    /* 使用名为 "scrollText" 的动画，无限循环，持续时间为5秒 */
/* } */

@keyframes scrollText {
    0% {
        transform: translateX(0);
        /* 文本内容初始位置 */
    }

    100% {
        transform: translateX(-100%);
        /* 文本内容最终位置，向左平移整个元素的宽度 */
    }
}
