.music-list-page-container {
    display: none;
    flex-direction: row;
    grid-template-rows: 70% auto;
    height: 100%;
}

.music-list-container {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;   /* IE 10+ */
}

::-webkit-scrollbar {
    display: none;  /* Chrome Safari */
}

.music-list-bottom-btn {
    background-color: #e0e5ec;
    width: 100%;
    bottom: 0;
}

.music-list ul {
    list-style: none;
    padding-left: 10px;
}

.music-list ul {
    position: flex;
    align-items: center;
}

.music-list ul li {
    height: 100%
}

.music-list-item:hover {
    cursor: pointer;
}

.music-list-item:active {
    
}

.item-div {
    height: 35px;
    padding: 5px 0;
    overflow: hidden;
    /* TODO hover 滚动 */
    border-bottom: 1px solid rgb(134, 134, 134);
}

.item-num {
    float: left;
    height: 100%;
    line-height: 35px;
    font-size: 1.5em;
    width: 45px;
    margin-right: 10px;
}

.item-num span {
    float: right;
}

.item-detail {
    display: flex;
    width: auto;
    flex-direction: column;
    margin-left: 0;
}

.item-detail .music-name {
    font-size: 15px;
    height: 20px;
    align-items: flex-start;
}

.item-detail .music-artists {
    font-size: 12px;
    height: 15px;
    align-items: flex-end;
    color: rgb(91, 90, 90);
}